<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="main-content">
            <P>Hi My name is Umar Abid ...!! </P>
        {{>header}}
       <img class="portrait" src="img/me.jpeg">
       </div>
      {{>footer}}
    </body>
</html>